/*@use "../../../app/styles/typography";*/
/*@use "../../../app/styles/helpers/_json";*/

/*:export {*/
/*  fontSizes: json.json-stringify(typography.$fontSizes);*/
/*  lineHeights: json.json-stringify(typography.$lineHeights);*/
/*  fontWeights: json.json-stringify(typography.$fontWeights);*/
/*}*/
