.statBoxWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--global-content-max-width);
  gap: var(--size-s24);
  margin: 0 auto;
  width: 100%;
}

.themeParkLogoFigure {
  aspect-ratio: 1;
  display: inline-block;
  height: var(--size-s24);
  margin: 0 0 0 var(--size-s8);
  position: relative;
}

.themeParkLogoImage {
  object-fit: contain;
}
