@use "sass:map";

@function animationDuration($seconds) {
  @return calc(var(--animation-rhythm) * #{$seconds});
}

$curves: (
  default: cubic-bezier(0.25, 0.1, 0.25, 1),
  easeBoth: cubic-bezier(0.77, 0.25, 0, 0.77),
  flag: cubic-bezier(0.16, 0.14, 0.82, 0.73),
  linear: cubic-bezier(0, 0, 1, 1),
);
@function getCurve($c) {
  @return map.get($curves, $c);
}
