:root {
  --animation-rhythm: 1s;
  --curve-default: cubic-bezier(0.25, 0.1, 0.25, 1);
  --curve-easeBoth: cubic-bezier(0.77, 0.25, 0, 0.77);
  --curve-flag: cubic-bezier(0.16, 0.14, 0.82, 0.73);
  --curve-linear: cubic-bezier(0, 0, 1, 1);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --animation-rhythm: 0s;
  }
}
