@use "./colors";
@use "./dimensions";
@use "./typography";
@use "./helpers/rem";
@use "sass:map";

$fieldHeight: rem.toRem(map.get(dimensions.$sizes, s40));
$invalidColor: rgba(colors.$colorRedHeat, 0.15);

@mixin baseInputStyles {
  appearance: none;
  background-color: colors.$colorGreyDark;
  border: 1px solid colors.$colorGreenGrass;
  color: colors.$colorWhiteGhost;
  display: block;
  font-size: rem.toRem(map.get(typography.$fontSizes, medium));
  height: $fieldHeight;
  margin: rem.toRem(map.get(dimensions.$sizes, s2)) auto 0;
  max-width: rem.toRem(dimensions.$globalInputMaxWidth);
  padding: rem.toRem(map.get(dimensions.$sizes, s8));
  width: 100%;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: colors.$colorWhiteGhost;
    -webkit-box-shadow: 0 0 0 $fieldHeight colors.$colorGreyDark inset;
  }

  &:user-invalid {
    background-color: $invalidColor;
  }

  &StateInvalid {
    background-color: $invalidColor;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: colors.$colorWhiteGhost;
      -webkit-box-shadow: 0 0 0 $fieldHeight $invalidColor inset;
    }
  }
}
