@use "./dimensions";
@use "./lineClamp";
@use "./typography";
@use "./helpers/rem";
@use "sass:map";

@mixin paragraphStyles {
  color: var(--color) !important;
  display: block;
  font-family: typography.$fontInter !important;
  font-size: var(--font-size) !important;
  margin: var(--margin) !important;
  max-width: calc(100vw - #{rem.toRem(map.get(dimensions.$sizes, s16))});
  text-align: var(--text-align);
  text-wrap: var(--text-wrap);
  width: 100%;

  @media (min-width: rem.toRem(dimensions.$globalTextMaxWidth)) {
    max-width: rem.toRem(dimensions.$globalTextMaxWidth);
  }

  &Clamp {
    @include lineClamp.lineClamp;
  }
}
