/*:root {*/
/*  @include scrollBar.scrollbarStyles;*/

/*  --animation-rhythm: 1s;*/
/*  interpolate-size: allow-keywords;*/

/*  @media (prefers-reduced-motion: reduce) {*/
/*    --animation-rhythm: 0s;*/
/*  }*/
/*}*/

html,
body {
  background: var(--colorblackEvil);
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: var(--colorWhiteGhost);
}

body {
  font-family: var(--font-Inter);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.grecaptcha-badge {
  visibility: hidden;
}
