@use "./_colors.scss";
@use "./scrollBar.scss";
@use "./typography.scss";

:root {
  @include scrollBar.scrollbarStyles;

  --animation-rhythm: 1s;
  interpolate-size: allow-keywords;

  @media (prefers-reduced-motion: reduce) {
    --animation-rhythm: 0s;
  }
}

html,
body {
  background: colors.$colorblackEvil;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: colors.$colorWhiteGhost;
}

body {
  font-family: typography.$fontInter;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.grecaptcha-badge {
  visibility: hidden;
}
