@keyframes waving {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.root {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.waves {
  position: relative;
  width: 100%;
  margin-bottom: -7px; /*Fix for safari gap*/
  height: var(--size-128);
}

.parallax {
  > use {
    animation: waving calc(var(--animation-rhythm) * 25)
      cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
}

.wave1 {
  fill: color-mix(in srgb, var(--colorGreenGrass) 40%, black 60%);
}

.wave2 {
  fill: color-mix(in srgb, var(--colorGreenGrass) 60%, black 40%);
}

.wave3 {
  fill: color-mix(in srgb, var(--colorGreenGrass) 80%, black 20%);
}

.wave4 {
  fill: var(--colorGreenGrass);
}
