.root {
  appearance: base-select;
  cursor: pointer;
  padding: 0;
  composes: baseInput from "../../../styles/input.module.css";

  &::picker(select) {
    appearance: base-select;
  }

  &::picker-icon {
    display: none;
  }

  option {
    align-items: center;
    background: var(--color-grey-dark);
    color: var(--color-white-ghost);
    display: flex;
    padding: var(--size-s8);
    width: 100%;

    &:hover {
      filter: brightness(1.3);
    }

    &::marker,
    &::before {
      display: none;
    }
  }
}

.selectArea {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.dropButton {
  align-items: center;
  aspect-ratio: 1;
  background: var(--color-green-grass);
  display: flex;
  height: 100%;
  justify-content: center;

  &:hover {
    filter: brightness(1.3);
  }

  &::before {
    aspect-ratio: 1;
    background: var(--color-white-ghost);
    clip-path: var(--clip-path-chevronDown);
    content: "";
    height: var(--size-s32);
  }
}

.selectedContent {
  align-items: center;
  display: flex;
  width: 100%;
}

.figure {
  align-items: center;
  aspect-ratio: 1;
  border-radius: var(--radii-round);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: var(--size-s2);
  overflow: hidden;
  position: relative;
  width: var(--size-s24);
}

.doesNotSupport {
  display: block;

  @supports (appearance: base-select) {
    display: none;
  }
}

.doesSupport {
  display: none;

  @supports (appearance: base-select) {
    display: block;
  }
}
