@use "../../../app/styles/dimensions";
@use "../../../app/styles/input";
@use "../../../app/styles/helpers/rem";

.root {
  @include input.labelledStyles;
}

.labelText {
  display: block;
  max-width: rem.toRem(dimensions.$globalInputMaxWidth);
  text-align: center;
  width: 100%;
}
