@keyframes orbit {
  0% {
    opacity: 0.4;
    transform: rotate(0deg) var(--translate) rotate(0deg);
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.4;
    transform: rotate(360deg) var(--translate) rotate(-360deg);
  }
}

@keyframes fade {
  0%,
  66% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }
}

.root {
  box-shadow: 0 0 var(--size-s24) var(--size-s8) var(--color-black-evil);
}

.inner {
  align-items: center;
  background: var(--color-black-evil);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--size-s512);
  padding: var(--size-s16);
  position: relative;
  overflow: hidden;
  width: 100%;

  &::after {
    box-shadow: inset 0 0 var(--size-s32) var(--size-s16)
      var(--color-black-evil);
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.cloud {
  --animation-delay: 0;
  --animation-direction: forwards;
  --cloud-left: 0;
  --cloud-top: 0;
  --translate: none;

  animation: orbit calc(var(--animation-rhythm) * 10) infinite
    var(--curve-linear);
  animation-delay: calc(var(--animation-delay) * 1s);
  animation-direction: var(--animation-direction);
  height: 100%;
  left: calc(var(--cloud-left) * 1px);
  opacity: 0.4;
  position: absolute;
  top: calc(var(--cloud-top) * 1px);
  width: 100%;
}

.heading {
  margin: 0 auto;
}

.logo {
  max-width: 200px !important;
  position: relative;
  width: 100%;
  height: auto;
}

.paragraph {
  position: relative;
}
