@keyframes wordAnim {
  0%,
  5%,
  100% {
    filter: blur(0);
    opacity: 1;
  }

  20%,
  80% {
    filter: blur(1em);
    opacity: 0;
  }
}

.root {
  display: flex;
  margin: 0 auto;
  max-width: var(--global-content-max-width);
  position: relative;
  width: 100%;
}

.text {
  --word-count: 0;
  --word-index: 0;
  --speed: calc(var(--word-count) * 1.5 + 2);
  --delay: calc(
    ((var(--speed) / (var(--word-count) + 1))) * var(--word-index) -
      var(--speed)
  );

  animation: wordAnim calc(var(--speed) * 1s) infinite ease-in-out;
  animation-delay: calc(var(--delay) * 1s);
  display: inline-block;
  font-size: var(--font-size-xxlarge) !important;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .text {
    animation: none;
    left: auto;
    position: relative;
    top: auto;
    transform: none;
  }
}

.morpher {
  border: none !important;
  filter: contrast(25) blur(1px);
  position: relative;
  min-height: 480px;
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .morpher {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
}
