.skillsSection {
  display: block;
  max-width: var(--globalContentMaxWidth);
  margin: 0 auto;
  padding: 0 var(--size-16);
}

.skillGrid {
  display: block;
  width: 100%;

  @media (min-width: var(--breakpoint-xsmall)) {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  @media (min-width: var(--breakpoint-small)) {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.gridLogo {
  align-items: center;
  display: flex;
  justify-content: center;

  @media (min-width: var(--breakpoint-xsmall)) {
    grid-column-start: var(--xs-column-start);
    grid-column-end: var(--xs-column-end);
    grid-row-start: var(--xs-row-start);
    grid-row-end: var(--xs-row-end);
  }

  @media (min-width: var(--breakpoint-small)) {
    grid-column-start: var(--s-column-start);
    grid-column-end: var(--s-column-end);
    grid-row-start: var(--s-row-start);
    grid-row-end: var(--s-row-end);
  }

  &Image {
    max-width: var(--size-256);
  }
}

.portfolioSection {
  display: block;
  max-width: var(--globalContentMaxWidth);
  margin: 0 auto;
  padding: 0 var(--size-16);
}
