.skillsSection {
  display: block;
  max-width: var(--globalContentMaxWidth);
  margin: 0 auto;
  padding: 0 var(--size-16);
}

.skillGrid {
  display: block;
  width: 100%;

  @media (--breakpoint-xsmall) {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  @media (--breakpoint-small) {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.gridLogo {
  align-items: center;
  display: flex;
  justify-content: center;

  @media (--breakpoint-xsmall) {
    grid-column: var(--xs-column-start) / var(--xs-column-end);
    grid-row: var(--xs-row-start) / var(--xs-row-end);
  }

  @media (--breakpoint-small) {
    grid-column: var(--s-column-start) / var(--s-column-end);
    grid-row: var(--s-row-start) / var(--s-row-end);
  }

  &Image {
    max-width: var(--size-256);
  }
}

.portfolioSection {
  display: block;
  max-width: var(--globalContentMaxWidth);
  margin: 0 auto;
  padding: 0 var(--size-16);
}
