@use "../../../app/styles/animation";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";

$flipPoint: map-get(dimensions.$device, medium);
$turnAmount: 0.05;

@keyframes threeDRotate {
  0%,
  100% {
    transform: perspective(1000px) rotateX(-#{$turnAmount}turn) rotateY(0);
  }
  25% {
    transform: perspective(1000px) rotateX(0) rotateY(-#{$turnAmount}turn);
  }
  50% {
    transform: perspective(1000px) rotateX(#{$turnAmount}turn) rotateY(0);
  }
  75% {
    transform: perspective(1000px) rotateX(0) rotateY(#{$turnAmount}turn);
  }
}

.root {
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalDecorationMaxWidth);
  overflow: hidden;
  position: relative;
}

.inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalContentMaxWidth);
  position: relative;
  width: 100%;

  @media ($flipPoint) {
    flex-direction: var(--orientation);
  }
}

.backgroundWrapper {
  background: var(--background);
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.foregroundWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: dimensions.getSize(s16);
  position: relative;
  width: 100%;

  @media ($flipPoint) {
    padding: 0;
    width: 50%;
  }

  &.animate {
    animation: threeDRotate animation.animationDuration(3) infinite
      map-get(animation.$curves, linear);
  }
}

.foregroundImage {
  display: block;
  height: rem.toRem(400);
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: rem.toRem(400);
}

.frameBoxWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: dimensions.getSize(s16);
  width: 100%;

  @media ($flipPoint) {
    width: 50%;
  }
}

.copyBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: dimensions.getSize(s16);
  width: 100%;

  @media ($flipPoint) {
    width: 50%;
  }
}
