.root {
  --background: transparent;
  --xs-column-start: 0;
  --xs-column-end: 0;
  --xs-row-start: 0;
  --xs-row-end: 0;
  --s-column-start: 0;
  --s-column-end: 0;
  --s-row-start: 0;
  --s-row-end: 0;

  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--size-16);
}

@media (--breakpoint-xsmall) {
  .root {
    grid-column: var(--xs-column-start) / var(--xs-column-end);
    grid-row: var(--xs-row-start) / var(--xs-row-end);
  }
}

@media (--breakpoint-small) {
  .root {
    grid-column: var(--s-column-start) / var(--s-column-end);
    grid-row: var(--s-row-start) / var(--s-row-end);
  }
}
