@use "../../../app/styles/dimensions";
@use "sass:map";

.root {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: dimensions.getSize(16);

  @media (map.get(dimensions.$device, xsmall)) {
    grid-column-start: var(--xs-column-start);
    grid-column-end: var(--xs-column-end);
    grid-row-start: var(--xs-row-start);
    grid-row-end: var(--xs-row-end);
  }

  @media (map.get(dimensions.$device, small)) {
    grid-column-start: var(--s-column-start);
    grid-column-end: var(--s-column-end);
    grid-row-start: var(--s-row-start);
    grid-row-end: var(--s-row-end);
  }
}
