@use "../../../app/styles/colors";

.root {
  background: colors.$colorGreyDark;
  border: 1px solid colors.$colorGreenGrass;
  display: block;
  font-family: monospace;
  -webkit-overflow-scrolling: touch;
  padding: 8px;
}
