.root {
  background: var(--color-grey-dark);
  border: 1px solid colors.var(--color-green-grass);
  display: inline-block;
  font-family: monospace;
  -webkit-overflow-scrolling: touch;
  padding: 0 8px;
}
