.root {
  composes: baseInput from "../../../app/styles/input.module.css";
  height: var(--size-40);

  &::-webkit-file-upload-button {
    appearance: none;
    background: var(--colorGreenGrass);
    border: none;
    color: var(--colorWhiteGhost);
    cursor: pointer;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    height: 100%;
    margin-right: var(--size-16);
    padding: 0 var(--size-16);

    &:hover {
      filter: brightness(1.3);
    }
  }
}
