.root {
  margin: var(--size-16) auto;
  max-width: var(--globalContentMaxWidth);
  width: 100%;
}

.inner {
  aspect-ratio: 16 / 9;
  box-shadow: var(--shadow-boxGreen);
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.image {
  object-fit: cover;
}

.caption {
  display: block;
  font-size: var(--font-size-small);
  font-style: italic;
  margin: var(--size-8) auto;
  text-align: center;
}
