@keyframes orbit {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

.effectBox {
  --index: 0;
  --shadows: none;

  animation: orbit calc(var(--animation-rhythm) * 21) infinite
    var(--curve-linear);
  animation-direction: reverse;
  animation-duration: calc(
    (var(--particleBaseDuration) + (var(--particleBaseDuration) / 2)) *
      var(--index) * 1s
  );
  animation-delay: calc(
    (var(--index) * (var(--particleBaseDuration) / var(--index))) * -1s
  );
  height: 25%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;

  &::before {
    animation: inherit;
    animation-direction: normal;
    border-radius: 50%;
    box-shadow: var(--shadows);
    content: "";
    height: 1px;
    left: 50%;
    opacity: 0.25;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
  }
}
