@use "sass:color";
@use "../../../app/styles/animation";
@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/radii";
.root {
  appearance: none;
  background-color: color.scale(colors.$colorGreenGrass, $lightness: -50%);
  border-radius: radii.getBorderRadii(r12);
  cursor: pointer;
  height: dimensions.getSize(s24);
  min-width: dimensions.getSize(s48);
  position: relative;
  transition: background-color animation.animationDuration(0.1) linear;

  &::before {
    aspect-ratio: 1;
    background-color: colors.$colorWhiteGhost;
    border-radius: radii.getBorderRadii(round);
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    transition: left animation.animationDuration(0.1) linear;
  }

  &:checked {
    background: colors.$colorGreenGrass;

    &::before {
      left: calc(100% - (#{dimensions.getSize(s48)} / 2));
    }
  }
}
