.root {
  appearance: none;
  aspect-ratio: 1;
  background: var(--colorblackEvil);
  border-color: var(--colorGreenGrass);
  border-style: solid;
  border-width: 1px;
  position: relative;
  width: var(--size-32);

  &::after {
    background: var(--colorGreenGrass);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 37.5% 50%, 37.5% 100%, 0 100%);
    content: "";
    height: 50%;
    margin: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-100%) rotate(90deg) scale(0);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 75%;
  }

  &:checked::after {
    transform: translateY(-60%) translateX(-50%) rotate(135deg) scaleX(-1);
  }

  &:user-invalid {
    border-color: var(--colorRedHeat);
  }
}

.isInvalid {
  border-color: var(--colorRedHeat);
}
