@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";

.root {
  clip-path: inset(0);
  height: dimensions.getSize(s512);
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalDecorationMaxWidth);
  overflow: hidden;
  position: relative;

  &::after {
    box-shadow: inset 0 0 rem.toRem(14) rem.toRem(9) colors.$colorblackEvil;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.fixedImage {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100%;
}
