.root {
  clip-path: inset(0);
  height: var(--size-s512);
  margin: 0 auto;
  max-width: var(--global-decoration-max-width);
  overflow: hidden;
  position: relative;

  &::after {
    box-shadow: inset 0 0 14px 9px var(--color-black-evil);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.fixedImage {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100%;
}
