@keyframes rise {
  0% {
    opacity: 0;
    transform: scale(1);
    bottom: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0);
    bottom: 75%;
  }
}

.ember {
  --animationDelay: 0;
  --baseColor: transparent;
  --duration: 0;
  --particleSize: 0;
  --index: 0;
  --numberOfParticles: 0;

  animation: rise calc(var(--duration) * 1s) ease-in infinite;
  animation-delay: calc(var(--animationDelay) * var(--duration) * 1s);
  aspect-ratio: 1;
  background-image: radial-gradient(var(--baseColor) 20%, transparent 70%);
  border-radius: 50%;
  bottom: 0;
  left: calc(
    (100% - var(--particleSize)) *
      ((var(--index) - 1) / var(--numberOfParticles))
  );
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  width: var(--particleSize);
}

.root {
  filter: blur(1px);
  position: relative;
}
