@use "../../../app/styles/typography";
@use "../../../app/styles/helpers/rem";

.root {
  display: flex;
  height: 100%;
  width: 100%;

  &::before,
  &::after {
    background: var(--maskFill);
    content: "";
    flex: 1;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100%;

  &::before,
  &::after {
    background: var(--maskFill);
    content: "";
    flex: 1;
  }
}

.rect {
  fill: var(--maskFill);
  mask: url(#mask);
}

.svg {
  height: 100%;
  width: 100%;
}

.text {
  alignment-baseline: middle;
  font-family: typography.$fontOpenSans;
  font-size: rem.toRem(map-get(typography.$fontSizes, large));
  font-weight: map-get(typography.$fontWeights, black);
  text-anchor: middle;
}
