@use "../../../../app/styles/dimensions";
@use "../../../../app/styles/radii";
@use "sass:map";

.root {
  appearance: none;
  border-radius: map.get(radii.$borderRadii, round);
  height: dimensions.getSize(s32);
  position: absolute;
  width: dimensions.getSize(s32);

  &::-webkit-meter-bar {
    background: none;
  }

  &::-webkit-meter-suboptimum-value {
    background: transparent;
  }

  &::-webkit-meter-optimum-value {
    background: transparent;
  }
}
