.root {
  appearance: none;
  border-radius: var(--radii-round);
  height: var(--size-32);
  position: absolute;
  width: var(--size-32);

  &::-webkit-meter-bar {
    background: none;
  }

  &::-webkit-meter-suboptimum-value {
    background: transparent;
  }

  &::-webkit-meter-optimum-value {
    background: transparent;
  }
}
