@keyframes pressDown {
  from {
    --y: 0;
  }

  to {
    --y: 50;
  }
}

@keyframes release {
  0% {
    --y: 50;
  }

  60% {
    --y: -30;
  }

  80% {
    --y: 20;
  }

  100% {
    --y: 0;
  }
}

.hoverIFrameWrapper {
  aspect-ratio: 16 / 9;
  background: var(--color-grey-dark);
  border: var(--size-s8) solid var(--color-grey-dark);
  box-shadow: 0 0 var(--size-s2) var(--size-s2) var(--color-black-evil);
  display: none;
  height: calc(var(--size-s128) + var(--size-s16));
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  transition: all calc(var(--animation-rhythm) * 0.2);
  user-select: none;
}

.root {
  @property --y {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }

  align-items: center;
  color: var(--color-white-ghost);
  display: inline-flex;
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  max-width: var(--size-s512);
  overflow-wrap: break-word;
  position: relative;
  text-decoration: none;

  &::after {
    animation: release calc(var(--animation-rhythm) * 0.2);
    animation-fill-mode: forwards;
    background: var(--color-white-ghost);
    bottom: -7px;
    clip-path: polygon(
      0 0,
      30% calc(var(--y) * 0.9%),
      50% calc(var(--y) * 1%),
      70% calc(var(--y) * 0.9%),
      100% 0,
      100% 25%,
      70% calc(25% + var(--y) * 0.9%),
      50% calc(25% + var(--y) * 1%),
      30% calc(25% + var(--y) * 0.9%),
      0 25%
    );
    content: "";
    height: var(--size-s8);
    left: 0;
    position: absolute;
    width: 100%;
    will-change: clip-path, --y;
  }

  &:hover {
    filter: brightness(1.3);

    .hoverIFrameWrapper {
      display: block;
    }

    &::after {
      animation: pressDown calc(var(--animation-rhythm) * 0.1);
      animation-fill-mode: forwards;
    }
  }

  &:visited,
  &:active {
    color: var(--color-white-ghost);
  }

  &.Large {
    color: var(--color-green-grass);
    font-size: var(--font-size-large);
    padding-bottom: calc(var(--size-s16) + var(--size-s2));
    text-transform: uppercase;

    &:visited,
    &:active {
      color: var(--color-green-grass);
    }

    &::after {
      bottom: 0;
      height: var(--size-s16);
    }
  }
}

.newTabIcon {
  display: inline-block;
  height: var(--size-s16);
  margin-left: var(--size-s4);
  width: var(--size-s16);
}

.hoverIFrame {
  aspect-ratio: unset;
  height: calc(1000% - var(--size-s16));
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: calc(1000% - var(--size-s16));
}

.clamp {
  composes: lineClamp from "../../../styles/lineClamp.module.css";
}
