.root {
  align-items: center;
  aspect-ratio: 16 / 9;
  background-color: var(--color-grey-dark);
  border: 1px solid var(--color-green-grass);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--global-content-max-width);
  width: 100%;
}
