@use "../../../app/styles/animation";
@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";

@keyframes strikeAnimation {
  0%,
  49%,
  55%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes strikeGlow {
  0%,
  53%,
  73%,
  100% {
    filter: brightness(1);
  }
  54% {
    filter: brightness(3);
  }
}

.root {
  position: relative;
}

.inner {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalDecorationMaxWidth);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.background {
  animation: strikeGlow var(--frequency) linear infinite;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.strike {
  animation: strikeAnimation var(--frequency) linear infinite;
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @media (prefers-reduced-motion) {
    animation: none;
    opacity: 1;
  }
}

.content {
  align-items: center;
  background: linear-gradient(
    to left,
    transparent,
    rgba(colors.$colorblackEvil, 0.2),
    transparent
  );
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: rem.toRem(globalContentMaxWidth);
  overflow: hidden;
  padding: dimensions.getSize(s8);
  width: 100%;
  z-index: 1;
}
