@use "../../../app/styles/animation";
@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";

.root {
  align-items: center;
  background: linear-gradient(
    207deg,
    rgba(colors.$colorGreenGrass, 0.35) 35%,
    transparent
  );
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalDecorationMaxWidth);
  padding: 20px;
  position: relative;
  width: 100%;

  &::before {
    background: linear-gradient(
      117deg,
      colors.$colorblackEvil 15%,
      transparent 50%,
      transparent 65%,
      colors.$colorblackEvil 95%
    );
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.inner {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  max-width: rem.toRem(dimensions.$globalTextMaxWidth);
  position: relative;
  text-shadow: 0 0 rem.toRem(map-get(dimensions.$sizes, s8))
    colors.$colorblackEvil;
  word-break: break-word;
  z-index: 1;
}

.silhouette {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.025;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
