@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

.root {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalDecorationMaxWidth);
  position: relative;
  width: 100%;

  @media (map.get(dimensions.$device, small)) {
    height: calc(100vh - rem.toRem(dimensions.$globalHeaderHeight));
    min-height: rem.toRem(320);

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 100%;
    }

    &::after {
      background: colors.$colorWhiteGhost;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalContentMaxWidth);
  width: 100%;

  @media (map.get(dimensions.$device, small)) {
    flex-direction: row;
  }
}

.feetSection {
  background: colors.$colorblackEvil;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (map.get(dimensions.$device, small)) {
    width: 50%;
  }

  &::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @media (map.get(dimensions.$device, small)) {
      background: colors.$colorWhiteGhost;
      -webkit-mask: url(./ali-flight.svg) no-repeat 350% center;
      mask: url(./ali-flight.svg) no-repeat 350% center;
      -webkit-mask-size: 75%;
      mask-size: 75%;
    }
  }
}

.headSection {
  background: linear-gradient(
    to right,
    colors.$colorWhiteGhost,
    colors.$colorWhiteGhost 50%,
    colors.$colorblackEvil 50%
  );
  height: rem.toRem(480);
  position: relative;
  width: 100%;

  @media (map.get(dimensions.$device, small)) {
    background: transparent;
    height: auto;
    width: 50%;
  }

  &::before {
    background: linear-gradient(
      to right,
      colors.$colorblackEvil,
      colors.$colorblackEvil 50%,
      colors.$colorWhiteGhost 50%
    );
    content: "";
    height: 100%;
    left: 0;
    -webkit-mask:
      url(./ali-flight.svg) no-repeat center center,
      linear-gradient(#fff 0 0);
    mask:
      url(./ali-flight.svg) no-repeat center center,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    -webkit-mask-size: 75%;
    mask-size: 75%;
    position: absolute;
    top: 0;
    width: 100%;

    @media (map.get(dimensions.$device, small)) {
      background: colors.$colorWhiteGhost;
      -webkit-mask:
        url(./ali-flight.svg) no-repeat -50% center,
        linear-gradient(#fff 0 0);
      mask:
        url(./ali-flight.svg) no-repeat -50% center,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      -webkit-mask-size: 75%;
      mask-size: 75%;
    }
  }
}

.copy {
  padding: dimensions.getSize(s32) dimensions.getSize(s16);
  text-align: center;
  width: 100%;

  @media (map.get(dimensions.$device, small)) {
    max-width: rem.toRem(480);
    padding: dimensions.getSize(s16) dimensions.getSize(s32)
      dimensions.getSize(s16) dimensions.getSize(s16);
    text-align: left;
  }

  @media (map.get(dimensions.$device, medium)) {
    padding: dimensions.getSize(s16);
  }
}

.copyParagraph {
  text-align: center;

  @media (map.get(dimensions.$device, small)) {
    text-align: left;
  }
}
