@use "../../styles/dimensions";
@use "../../styles/helpers/rem";

.statBoxWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: rem.toRem(dimensions.$globalContentMaxWidth);
  gap: dimensions.getSize(s24);
  margin: 0 auto;
  width: 100%;
}

.themeParkLogoFigure {
  aspect-ratio: 1;
  display: inline-block;
  height: dimensions.getSize(s24);
  margin: 0 0 0 dimensions.getSize(s8);
  position: relative;
}

.themeParkLogoImage {
  object-fit: contain;
}
