.scrollBarDemo {
  composes: scrollbarStyles from "../../../styles/scrollBar.module.css";
  border: 1px solid var(--color-blue-sea);
  cursor: all-scroll;
  height: var(--size-s128);
  overflow: scroll;
}
