.scrollBarDemo {
  composes: scrollbarStyles from "../../../app/styles/_scrollBar.css";

  border: 1px solid var(--colorBlueSea);
  cursor: all-scroll;
  height: var(--size-128);
  overflow: scroll;
}
