@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/scrollBar";
@use "../../../app/styles/helpers/rem";

.scrollBarDemo {
  @include scrollBar.scrollbarStyles;

  border: rem.toRem(1) solid colors.$colorBlueSea;
  cursor: all-scroll;
  height: dimensions.getSize(s128);
  overflow: scroll;
}
