.root {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
  list-style: none;
  margin: 0 auto;
  max-width: var(--globalTextMaxWidth);
  text-align: var(--align);
  width: 100%;

  li {
    font-size: var(--font-size-medium);
    padding-left: var(--size-16);
    position: relative;
    width: 100%;

    &::before {
      background: var(--colorWhiteGhost);
      content: "";
      height: calc(100% - var(--font-size-medium));
      left: 0;
      min-height: var(--font-size-medium);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: var(--size-2);
    }
  }
}
