@use "../../../app/styles/colors";

:export {
  colorblackEvil: colors.$colorblackEvil;
  colorGreyLight: colors.$colorGreyLight;
  colorGreyDark: colors.$colorGreyDark;
  colorWhiteGhost: colors.$colorWhiteGhost;

  colorBlueSea: colors.$colorBlueSea;
  colorGreenGrass: colors.$colorGreenGrass;
  colorRedHeat: colors.$colorRedHeat;
}
