@import "../../../app/styles/colors";

:export {
  colorblackEvil: $colorblackEvil;
  colorGreyLight: $colorGreyLight;
  colorGreyDark: $colorGreyDark;
  colorWhiteGhost: $colorWhiteGhost;

  colorBlueSea: $colorBlueSea;
  colorGreenGrass: $colorGreenGrass;
  colorRedHeat: $colorRedHeat;
}
