@use "../../../app/styles/animation";
@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";

@keyframes cloudMove {
  0% {
    opacity: 0;
    top: 50%;
    transform: translateZ(1px) translate(-50%, -50%) scale(0.4);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100%;
    transform: translateZ(1px) translate(var(--moveTo), -50%) scale(0.7);
  }
}

.root {
  background-color: var(--sky-color);
  min-height: dimensions.getSize(s512);
  overflow: hidden;
  position: relative;

  &::before {
    background: linear-gradient(
      transparent 35%,
      rgba(colors.$colorWhiteGhost, 0.5) 45%,
      rgba(colors.$colorWhiteGhost, 0.5) 80%,
      colors.$colorWhiteGhost
    );
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.sun {
  left: 7%;
  position: absolute;
  top: 7%;
  width: 10%;
}

.cloud {
  animation: cloudMove animation.animationDuration(5) infinite linear;
  position: absolute;
  height: 100%;
  top: 75%;
  transform: translateZ(1px) translate(-50%, -50%);
  width: 100%;
  will-change: transform, opacity, top;
}
