@keyframes rotate {
  0% {
    background-color: var(--colorRedHeat);
    transform: translate(-50%, -50%);
  }

  25% {
    background-color: var(--colorGreenGrass);
  }

  50% {
    background-color: var(--colorBlueSea);
    transform: translate(-50%, -50%) rotate(360deg);
  }

  75% {
    background-color: var(--colorblackEvil);
  }

  100% {
    background-color: var(--colorRedHeat);
    transform: translate(-50%, -50%) rotate(720deg);
  }
}

.root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;

  &::before {
    animation: rotate calc(var(--animation-rhythm) * 6) infinite
      var(--curve-linear);
    aspect-ratio: 1;
    background: var(--colorGreenGrass);
    mask: url("./assets/fan.svg") no-repeat center;
    max-height: 100%;
    max-width: 100%;
    content: "";
    left: 50%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
