@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

.root {
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
  margin: 0 auto;
  max-width: rem.toRem(map.get(dimensions.$sizes, s512));
  width: 100%;
}
