@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/radii";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

.root {
  appearance: none;
  aspect-ratio: 1;
  background: colors.$colorWhiteGhost;
  border: rem.toRem(1) solid colors.$colorblackEvil;
  border-radius: radii.getBorderRadii(round);
  box-shadow: 0 0 rem.toRem(2) rem.toRem(3) colors.$colorblackEvil;
  width: dimensions.getSize(s32);

  &:checked {
    background: radial-gradient(
      colors.$colorGreenGrass dimensions.getSize(s8),
      colors.$colorWhiteGhost dimensions.getSize(s8),
      colors.$colorWhiteGhost
    );
  }

  &:invalid {
    border: rem.toRem(2) solid colors.$colorRedHeat;
  }
}
