@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/radii";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

.root {
  appearance: none;
  aspect-ratio: 1;
  background: colors.$colorWhiteGhost;
  border: rem.toRem(1) solid colors.$colorblackEvil;
  border-radius: map.get(radii.$borderRadii, round);
  box-shadow: 0 0 rem.toRem(2) rem.toRem(3) colors.$colorblackEvil;
  width: rem.toRem(map.get(dimensions.$sizes, s32));

  &:checked {
    background: radial-gradient(
      colors.$colorGreenGrass rem.toRem(map.get(dimensions.$sizes, s8)),
      colors.$colorWhiteGhost rem.toRem(map.get(dimensions.$sizes, s8)),
      colors.$colorWhiteGhost
    );
  }

  &:invalid {
    border: rem.toRem(2) solid colors.$colorRedHeat;
  }
}
