@use "../../../app/styles/animation";
@use "sass:map";

:export {
  animationCurveDefault: map.get(animation.$curves, default);
  animationCurveEaseBoth: map.get(animation.$curves, easeBoth);
  animationCurveLinear: map.get(animation.$curves, linear);
}
