@keyframes flutter {
  0% {
    background-position: -200% 0;
  }
  30% {
    background-position: -60% 5px;
  }
  70% {
    background-position: 70% -5px;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes wave {
  0% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 0, 0) rotateZ(0deg) rotateY(22deg);
  }
  20% {
    box-shadow: 4px 5px 15px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 0, 0) rotateZ(0deg) rotateY(0deg);
  }
  40% {
    box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.4);
    transform: translate3d(0, 0, 0) rotateZ(1deg) rotateY(-22deg);
  }
  60% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 0, 0) rotateZ(0deg) rotateY(0deg);
  }
  80% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.3);
    transform: translate3d(0, 0, 0) rotateZ(0deg) rotateY(16deg);
  }
  100% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 0, 0) rotateZ(0deg) rotateY(22deg);
  }
}

.root {
  position: relative;
}

.flagWrapper {
  --flag-background: transparent;

  aspect-ratio: 16 / 9;
  background: var(--flag-background);
  border: 1px solid var(--colorblackEvil);
  position: relative;
  transform-origin: 0 250px;
  transform-style: preserve-3d;
  width: 168px;

  &.animateFlag {
    animation: wave 8s linear infinite;

    &::after {
      animation: flutter 8s var(--curve-flag) 1s infinite;
      background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 20%,
        rgba(0, 0, 0, 0.04) 30%,
        rgba(255, 255, 255, 0.1) 40%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0.1) 65%,
        rgba(0, 0, 0, 0.05) 80%,
        rgba(255, 255, 255, 0) 100%
      );
      background-size: 200%;
      content: "";
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  @media (prefers-reduced-motion) {
    animation: none;

    &::after {
      display: none;
    }
  }

  &.showPoll::before {
    background-color: #444;
    border-radius: var(--radii-2);
    content: "";
    height: 240px;
    left: -5px;
    position: absolute;
    top: -3px;
    width: 6px;
  }
}

.flagImage {
  object-fit: contain;
}
