@use "../../../app/styles/animation";
@use "../../../app/styles/clipPaths";
@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateX(0) rotate(0);
    top: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    transform: translateX(-(dimensions.getSize(s16))) rotate(90deg);
  }
  50% {
    transform: translateX(0) rotate(180deg);
  }
  75% {
    transform: translateX(dimensions.getSize(s16)) rotate(270deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100%;
    transform: rotate(360deg) translateX(0);
  }
}

.root {
  overflow: hidden;
  position: relative;
}

.flake {
  animation: fall infinite map.get(animation.$curves, linear);
  animation-delay: calc(var(--duration) * var(--delay) * 1s);
  animation-duration: calc(var(--flakeDuration) * 1s);
  aspect-ratio: 1;
  background: colors.$colorWhiteGhost;
  clip-path: map.get(clipPaths.$clipPaths, snowflake);
  left: calc(
    (100% - var(--size)) * ((var(--index) - 1) / var(--numberOfFlakes))
  );
  opacity: 0;
  position: absolute;
  transform-origin: center center;
  width: var(--size);

  @media (prefers-reduced-motion: reduce) {
    animation-delay: calc(var(--duration) * var(--delay) * -1s);
    animation-play-state: paused;
  }
}
