@keyframes fall {
  0% {
    opacity: 0;
    transform: translateX(0) rotate(0);
    top: 0;
  }

  10% {
    opacity: 1;
  }

  25% {
    transform: translateX(calc(var(--size-s16) * -1)) rotate(90deg);
  }

  50% {
    transform: translateX(0) rotate(180deg);
  }

  75% {
    transform: translateX(var(--size-s16)) rotate(270deg);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 100%;
    transform: rotate(360deg) translateX(0);
  }
}

.root {
  overflow: hidden;
  position: relative;
}

.flake {
  --flakeDuration: 0;
  --numberOfFlakes: 0;
  --size: 0;

  animation: fall infinite var(--curve-linear);
  animation-delay: calc(var(--duration) * var(--delay) * 1s);
  animation-duration: calc(var(--flakeDuration) * 1s);
  aspect-ratio: 1;
  background: var(--color-white-ghost);
  clip-path: var(--clip-path-snowflake);
  left: calc(
    (100% - var(--size)) * ((var(--index) - 1) / var(--numberOfFlakes))
  );
  opacity: 0;
  position: absolute;
  transform-origin: center center;
  width: var(--size);
}

@media (prefers-reduced-motion: reduce) {
  .flake {
    animation-delay: calc(var(--duration) * var(--delay) * -1s);
    animation-play-state: paused;
  }
}
