.root {
  --numberOfFlakes: 0;
  --size: 0;

  overflow: hidden;
  position: relative;
}

.flake {
  --flakeDuration: 0;

  animation: var(--animation-name-fall) infinite var(--curve-linear);
  animation-delay: calc(var(--duration) * var(--delay) * 1s);
  animation-duration: calc(var(--flakeDuration) * 1s);
  aspect-ratio: 1;
  background: var(--color-white-ghost);
  clip-path: var(--clip-path-snowflake);
  left: calc(
    (100% - var(--size)) * ((var(--index) - 1) / var(--numberOfFlakes))
  );
  opacity: 0;
  position: absolute;
  transform-origin: center center;
  width: var(--size);
}

@media (prefers-reduced-motion: reduce) {
  .flake {
    animation-delay: calc(var(--duration) * var(--delay) * -1s);
    animation-play-state: paused;
  }
}
