.root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-32);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--globalContentMaxWidth);
  padding: var(--size-8);
  width: 100%;
}
