.root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-s32);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--global-content-max-width);
  padding: var(--size-s8);
  width: 100%;
}
