@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";

.videoWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: rem.toRem(dimensions.$globalDecorationMaxWidth);
  margin: 0 auto;
  min-height: 90vh;
  padding: dimensions.getSize(s8);
  position: relative;
}

.video {
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.videoCopy {
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalContentMaxWidth);
  position: relative;
}

.skylinesFigure {
  border-bottom: rem.toRem(1) solid colors.$colorGreenGrass;
  border-top: rem.toRem(1) solid colors.$colorGreenGrass;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalDecorationMaxWidth);
  position: relative;
  width: 100%;
}

.skylinesImage {
  display: block;
  object-fit: cover;
  opacity: 0.5;
  height: auto;
  max-height: dimensions.getSize(s512);
  width: 100%;
}
