@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";

.root {
  display: block;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalTextMaxWidth);
  overflow: hidden;
  padding: dimensions.getSize(s8);
  width: 100%;
}
