@keyframes baseRotate {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(400grad);
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(calc(var(--position) * 40 * 1grad)) rotateY(0);
  }

  100% {
    transform: rotateZ(calc(var(--position) * 40 * 1grad)) rotateY(400grad);
  }
}

.root {
  margin: 0 auto;
  max-width: var(--globalContentMaxWidth);
  padding: var(--size-64) 0;
  position: relative;
}

.stage {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 480px;
  perspective: 300px;
  width: 100%;
}

.particle {
  --color: transparent;
  --content: "";
  --position: 0;
  --time: 0s;

  animation: rotating var(--time) calc(var(--position) * -2 * 1s)
    var(--curve-linear) infinite;
  left: -16%;
  margin-top: -5%;
  padding-bottom: 10%;
  position: absolute;
  right: -16%;
  top: 50%;
  transform-style: preserve-3d;
  transition: animation-duration var(--animation-rhythm);

  &::before {
    align-items: center;
    animation: baseRotate var(--time) calc(var(--position) * -2 * 1s)
      var(--curve-linear) infinite reverse;
    background-color: var(--color);
    border-radius: var(--radii-round);
    bottom: 0;
    box-shadow:
      inset 5px 5px 10px rgb(from var(--colorWhiteGhost) r g b / 20%),
      inset -5px -5px 10px rgb(from var(--colorWhiteGhost) r g b / 20%);
    content: var(--content);
    display: flex;
    font-size: var(--font-size-small);
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 7.5%;
  }
}

.core {
  aspect-ratio: 1;
  background-image:
    radial-gradient(transparent 40%, var(--colorWhiteGhost)),
    linear-gradient(
      rgb(from var(--colorWhiteGhost) r g b / 80%),
      rgb(from var(--colorWhiteGhost) r g b / 80%)
    ),
    radial-gradient(
      rgb(from var(--colorWhiteGhost) r g b / 10%),
      transparent 50%
    );
  background-position:
    0 0,
    50% 50%,
    50% 50%;
  background-repeat: no-repeat;
  background-size:
    120% 120%,
    100% 100%,
    60% 60%;
  border-radius: var(--radii-round);
  box-shadow:
    var(--size-80) var(--size-80) var(--size-128)
      rgb(from var(--colorblackEvil) r g b / 50%),
    0 0 5rem rgb(from var(--colorWhiteGhost) r g b / 80%);
  margin: 0 auto;
  max-width: var(--size-192);
  position: relative;
  transform-style: preserve-3d;
  width: 100%;

  &::before,
  &::after {
    border-radius: var(--radii-round);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &::before {
    background: radial-gradient(
      var(--colorGreenGrass),
      rgb(from var(--colorGreenGrass) r g b / 15%)
    );
    mask: url("../../assets/am.svg") no-repeat center;
    opacity: 0.1;
  }

  &::after {
    background: url("../../assets/am.svg") no-repeat center;
    opacity: 0;
    transition: opacity calc(var(--animation-rhythm) * 0.5);
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    .particle {
      animation-duration: calc(var(--animation-rhythm) * 10);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .core::after {
    opacity: 1;
  }
}

@media (--breakpoint-medium) {
  .core {
    max-width: var(--size-256);
  }
}
