.root {
  --align: left;

  border: none !important;
  color: var(--color) !important;
  font-weight: var(--font-weight-bold);
  margin: 0 auto var(--size-s24) !important;
  max-width: var(--global-text-max-width);
  padding-bottom: 0;
  position: relative;
  text-align: var(--align);
  text-wrap: balance;
  width: fit-content;

  &.shadow {
    text-shadow: 0 0 var(--size-s4) var(--color-black-evil);
  }

  &::after {
    background: var(--color-green-grass);
    bottom: 0;
    content: "";
    display: none;
    height: 3px;
    left: 0;
    position: absolute;
    transform: rotate(-2deg);
    width: 100%;
  }

  &.h1 {
    font-size: var(--heading-size-h1);
    max-width: var(--size-s512);
    padding-bottom: var(--size-s8);

    &::after {
      display: block;
    }
  }

  &.h2 {
    font-size: var(--heading-size-h2);
    max-width: var(--size-s512);

    &::after {
      display: block;
    }
  }

  &.h3 {
    font-size: var(--heading-size-h3);
  }

  &.h4 {
    font-size: var(--heading-size-h4);
  }

  &.h5 {
    font-size: var(--heading-size-h5);
  }

  &.h6 {
    font-size: var(--heading-size-h6);
  }
}

.clamp {
  composes: lineClamp from "../../../styles/lineClamp.module.css";
}
