.blogNav {
  margin: var(--size-16) auto var(--size-32);
  max-width: var(--globalTextMaxWidth);

  &Link {
    margin-left: var(--size-8);
    position: relative;

    &::before {
      aspect-ratio: 1;
      background: var(--colorWhiteGhost);
      clip-path: var(--clip-path-arrowLeft);
      content: "";
      display: inline-block;
      margin-right: var(--size-8);
      width: var(--size-8);
    }
  }
}
