.root {
  appearance: none;

  &::-webkit-media-controls-panel {
    background: var(--colorGreenGrass);
  }

  &::-webkit-media-controls-current-time-display,
  &::-webkit-media-controls-time-remaining-display {
    color: var(--colorWhiteGhost);
  }
}
