.root {
  appearance: none;

  &::-webkit-media-controls-panel {
    background: var(--color-green-grass);
  }

  &::-webkit-media-controls-current-time-display,
  &::-webkit-media-controls-time-remaining-display {
    color: var(--color-white-ghost);
  }
}
