.root {
  border: 1px solid var(--color-green-grass);
  min-height: var(--size-s1024);
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.contextMenuRoot {
  background: var(--color-grey-dark);
  box-shadow: 0 0 3px 3px var(--color-black-evil);
  max-width: 100vw;
  padding: var(--size-s56) var(--size-s16) var(--size-s16);
  position: relative;
  width: var(--size-s512);
}

.contextMenuButton {
  position: absolute;
  right: var(--size-s8);
  top: var(--size-s8);
}

.contextMenuFig {
  display: inline-block;
  margin: 0;
}
