@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";

.root {
  border: rem.toRem(1) solid colors.$colorGreenGrass;
  min-height: dimensions.getSize(s1024);
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.contextMenuRoot {
  background: colors.$colorGreyDark;
  box-shadow: 0 0 3px 3px colors.$colorblackEvil;
  max-width: 100vw;
  padding: dimensions.getSize(s56) dimensions.getSize(s16)
    dimensions.getSize(s16);
  position: relative;
  width: dimensions.getSize(s512);
}

.contextMenuButton {
  position: absolute;
  right: dimensions.getSize(s8);
  top: dimensions.getSize(s8);
}

.contextMenuFig {
  display: inline-block;
  margin: 0;
}
