@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/rem";

.root {
  align-items: center;
  background: colors.$colorblackEvil;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{dimensions.getSize(s48)});
  min-height: rem.toRem(400);
  position: relative;
}

.inner {
  flex: 1;
  margin: 0 auto;
  max-width: dimensions.getSize(512);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.backgroundFire {
  top: 40%;
  height: 60%;
  left: 0;
  position: absolute;
  transform: translatey(-50%);
  width: 100%;
}

.maskWrapper {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

.errorTextMask {
  display: flex;
  left: 0;
}
