@use "../../../app/styles/dimensions";
@use "../../../app/styles/radii";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

.root {
  background: var(--skyColor);
  overflow: hidden;
  position: relative;
}

.cloudCircle {
  border-radius: map.get(radii.$borderRadii, round);
  box-shadow: 0 #{rem.toRem(map.get(dimensions.$sizes, s256) * 1.5)}
    var(--dispersion) 0 var(--cloudColor);
  filter: url(#cloudFilter);
  height: rem.toRem(map.get(dimensions.$sizes, s256));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%) translateZ(0);
  width: rem.toRem(map.get(dimensions.$sizes, s512));
}
