@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/typography";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

.root {
  margin: 0 auto rem.toRem(1);
  max-width: rem.toRem(dimensions.$globalContentMaxWidth);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.summary {
  align-items: center;
  background: colors.$colorGreyLight;
  cursor: pointer;
  font-size: typography.getFontSize(mlarge);
  justify-content: flex-start;
  padding: dimensions.getSize(s8);
  position: relative;
  width: 100%;

  &:hover {
    filter: brightness(1.3);
  }

  &::marker {
    color: colors.$colorGreenGrass;
  }
}

.content {
  background: colors.$colorGreyDark;
  overflow: hidden;
  padding: dimensions.getSize(s8);
  position: relative;
  width: 100%;
}
