@use "../../../app/styles/helpers/rem";
@use "../../../app/styles/dimensions";

.root {
  align-items: center;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalContentMaxWidth);
  width: 100%;
}

.canvas {
  height: 100%;
  width: 100%;
}
