@import "../../../app/styles/dimensions";
@import "../../../app/styles/helpers/_json";

:export {
  globalInputMaxWidth: $globalInputMaxWidth;
  globalTextMaxWidth: $globalTextMaxWidth;
  globalContentMaxWidth: $globalContentMaxWidth;
  globalDecorationMaxWidth: $globalDecorationMaxWidth;
  breakpoints: json-stringify($breakpoints);
  sizes: json-stringify($sizes);
}
