@use "../../../app/styles/dimensions";
@use "../../../app/styles/helpers/_json";

:export {
  globalInputMaxWidth: dimensions.$globalInputMaxWidth;
  globalTextMaxWidth: dimensions.$globalTextMaxWidth;
  globalContentMaxWidth: dimensions.$globalContentMaxWidth;
  globalDecorationMaxWidth: dimensions.$globalDecorationMaxWidth;
  breakpoints: json.json-stringify(dimensions.$breakpoints);
  sizes: json.json-stringify(dimensions.$sizes);
}
