.root {
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  height: var(--size-s96);
  justify-content: center;
  position: relative;

  &::before {
    background: radial-gradient(
      transparent,
      transparent 30%,
      rgb(from var(--color-black-evil) r g b / 50%) 30%,
      rgb(from var(--color-black-evil) r g b / 50%) 70%,
      transparent 50%
    );
    border-radius: var(--radii-round);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.progressElement {
  --max: 0;
  --value: 0;

  appearance: none;
  background: conic-gradient(
    var(--color-green-grass),
    var(--color-white-ghost),
    var(--color-white-ghost) calc((var(--value) / var(--max)) * 100%),
    transparent calc((var(--value) / var(--max)) * 100%)
  );
  height: 100%;
  mask: url("./assets/dial.svg") no-repeat center;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::-webkit-progress-bar {
    appearance: none;
    background: transparent;
    display: none;
  }
}
