.root {
  box-shadow: calc(var(--size-4) * -1) var(--size-4) var(--size-8) 1px
    rgba(0, 0, 0, 0.5);
  color: var(--colorWhiteGhost);
  padding: var(--size-8);
  position: relative;
  transition: color calc(var(--animation-rhythm) * 0.25) var(--curve-default);
  width: var(--size-256);

  &::before {
    background:
      repeating-radial-gradient(#421a00 0 0.0001%, #4d2105 0 0.0002%) 60%
        60%/3000px 3000px,
      repeating-conic-gradient(#421a00 0 0.0001%, #4d2105 0 0.0002%) 40%
        40%/4000px 3000px;
    border: var(--size-4) solid var(--colorWhiteGhost);
    border-color: #5b1d00 #5b1d00 #371302 #371302;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.pending dd {
    color: transparent;
  }
}

.dl {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-small);
  margin: 0;
  position: relative;
}

.dt {
  width: 50%;
}

.dd {
  align-items: baseline;
  display: flex;
  margin: 0;
  width: 50%;
}
