.root {
  background: var(--color-grey-dark);
  border: 1px solid var(--color-green-grass);
  color: var(--color-white-ghost);
  display: block;
  min-height: var(--size-s256);
  margin: 0 auto;
  max-width: var(--global-input-max-width);
  resize: none;
  width: 100%;

  &:user-invalid {
    background: var(--color-red-heat);
  }

  &.invalid {
    background: var(--color-red-heat);
  }
}
