@use "../../styles/clipPaths";
@use "../../styles/colors";
@use "../../styles/dimensions";
@use "../../styles/helpers/rem";

.blogNav {
  margin: dimensions.getSize(s16) auto dimensions.getSize(s32);
  max-width: rem.toRem(dimensions.$globalTextMaxWidth);

  &Link {
    margin-left: dimensions.getSize(s8);
    position: relative;

    &::before {
      aspect-ratio: 1;
      background: colors.$colorWhiteGhost;
      clip-path: clipPaths.getClipPath(arrowLeft);
      content: "";
      display: inline-block;
      margin-right: dimensions.getSize(s8);
      width: dimensions.getSize(s8);
    }
  }
}
