.root {
  margin: 0 auto;
  max-width: var(--global-input-max-width);
  padding: var(--size-s8);
  position: relative;
  width: 100%;
}

.inputWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform calc(var(--animation-rhythm) * 0.5);
  width: 100%;

  &.hasSubmitted {
    transform: translateX(100vw);
  }
}

.submittedMessage {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}
