:root {
  --animation-rhythm: 1s;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --animation-rhythm: 0s;
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: scale(1);
    bottom: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0);
    bottom: 75%;
  }
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateX(0) rotate(0);
    top: 0;
  }

  10% {
    opacity: 1;
  }

  25% {
    transform: translateX(calc(var(--size-s16) * -1)) rotate(90deg);
  }

  50% {
    transform: translateX(0) rotate(180deg);
  }

  75% {
    transform: translateX(var(--size-s16)) rotate(270deg);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 100%;
    transform: rotate(360deg) translateX(0);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes threeDRotate {
  0%,
  100% {
    transform: perspective(1000px) rotateX(-18deg) rotateY(0);
  }

  25% {
    transform: perspective(1000px) rotateX(0) rotateY(-18deg);
  }

  50% {
    transform: perspective(1000px) rotateX(18deg) rotateY(0);
  }

  75% {
    transform: perspective(1000px) rotateX(0) rotateY(18deg);
  }
}

@keyframes orbit {
  0% {
    opacity: 0.4;
    transform: rotate(0deg) var(--translate) rotate(0deg);
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.4;
    transform: rotate(360deg) var(--translate) rotate(-360deg);
  }
}

@keyframes fade {
  0%,
  66% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }
}
