@custom-media --breakpoint-base (min-width: 0);
@custom-media --breakpoint-min (min-width: 320px);
@custom-media --breakpoint-xsmall (min-width: 640px);
@custom-media --breakpoint-small (min-width: 768px);
@custom-media --breakpoint-medium (min-width: 1024px);
@custom-media --breakpoint-large (min-width: 1200px);
@custom-media --breakpoint-xlarge (min-width: 1600px);
@custom-media --breakpoint-wide (min-width: 3440px);
