.root {
  background: var(--colorGreyDark);
  box-shadow: 0 0 10px 6px rgb(from var(--colorWhiteGhost) r g b / 35%);
  display: flex;
  height: 300px;
  margin: 0 auto;
  padding: var(--size-8);
  position: relative;
  width: 100%;

  @media (--breakpoint-xsmall) {
    max-width: var(--size-256);
  }
}

.cardLink {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  &::after {
    display: none;
  }

  &:hover {
    filter: brightness(1.3);
  }
}

.figure {
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
}

.cardImage {
  place-content: center center;
  background: var(--colorblackEvil);
  display: flex;
  min-height: var(--size-128);
  object-fit: cover;
  text-align: center;
  width: 100%;

  @media (--breakpoint-xsmall) {
    min-height: var(--size-96);
  }
}

.date {
  color: var(--colorWhiteGhost);
  display: block;
  font-style: italic;
  text-align: center;
}
