.root {
  background: var(--color-grey-dark);
  box-shadow: 0 0 10px 6px rgb(from var(--color-white-ghost) r g b / 35%);
  display: flex;
  height: 300px;
  margin: 0 auto;
  padding: var(--size-s8);
  position: relative;
  width: 100%;
}

@media (--breakpoint-xsmall) {
  .root {
    max-width: var(--size-s256);
  }
}

.cardLink {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  &::after {
    display: none;
  }

  &:hover {
    filter: brightness(1.3);
  }
}

.figure {
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
}

.cardImage {
  place-content: center center;
  background: var(--color-black-evil);
  display: flex;
  min-height: var(--size-s128);
  object-fit: cover;
  text-align: center;
  width: 100%;
}

@media (--breakpoint-xsmall) {
  .cardImage {
    min-height: var(--size-s96);
  }
}

.date {
  color: var(--color-white-ghost);
  display: block;
  font-style: italic;
  text-align: center;
}
