@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/typography";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

.root {
  display: block;
  margin: dimensions.getSize(s32) auto;
  max-width: rem.toRem(dimensions.$globalDecorationMaxWidth);
}

.blockQuote {
  display: block;
  font-size: typography.getFontSize(large);
  font-style: italic;
  margin: 0 auto;
  max-width: rem.toRem(dimensions.$globalTextMaxWidth);
  padding: dimensions.getSize(s8);
  position: relative;
  text-align: center;
  text-wrap: balance;

  &::before,
  &::after {
    color: colors.$colorGreenGrass;
    content: '"';
    font-size: typography.getFontSize(xxlarge);
    font-weight: map.get(typography.$fontWeights, black);
  }
}

.cite {
  display: block;
  margin: dimensions.getSize(s4) auto 0;
  max-width: rem.toRem(dimensions.$globalTextMaxWidth);
  text-align: center;
}

.citeLink {
  color: colors.$colorGreyLight;
  font-weight: map.get(typography.$fontWeights, regular);
}
