@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/typography";
@use "../../../app/styles/helpers/rem";
@use "sass:map";

.root {
  display: block;
  font-size: rem.toRem(map.get(typography.$fontSizes, large));
  font-style: italic;
  margin: rem.toRem(map.get(dimensions.$sizes, s32)) auto;
  max-width: rem.toRem(dimensions.$globalTextMaxWidth);
  padding: rem.toRem(map.get(dimensions.$sizes, s8));
  position: relative;
  text-align: center;
  text-wrap: balance;

  &::before,
  &::after {
    color: colors.$colorGreenGrass;
    content: '"';
    font-size: rem.toRem(map.get(typography.$fontSizes, xxlarge));
    font-weight: map.get(typography.$fontWeights, black);
  }
}
