.root {
  display: block;
  margin: var(--size-s32) auto;
  max-width: var(--global-decoration-max-width);
}

.blockQuote {
  display: block;
  font-size: var(--font-size-large);
  font-style: italic;
  margin: 0 auto;
  max-width: var(--global-text-max-width);
  padding: var(--size-s8);
  position: relative;
  text-align: center;
  text-wrap: balance;

  &::before,
  &::after {
    color: var(--color-green-grass);
    content: '"';
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-black);
  }
}

.cite {
  display: block;
  margin: var(--size-s4) auto 0;
  max-width: var(--global-text-max-width);
  text-align: center;
}

.citeLink {
  color: var(--color-grey-light);
  font-weight: var(--font-weight-regular);
}
