@use "../../../app/styles/colors";
@use "../../../app/styles/paragraph";

.root {
  @include paragraph.paragraphStyles;

  color: colors.$colorRedHeat;
  font-style: italic;
  display: block;
  text-align: var(--text-align);

  &Hide {
    display: none;
  }
}
