@use "../../../app/styles/colors";
@use "../../../app/styles/dimensions";
@use "../../../app/styles/radii";
@use "../../../app/styles/helpers/rem";
@use "sass:color";

@function generateGradient($color) {
  @return repeating-linear-gradient(
    135deg,
    $color,
    $color dimensions.getSize(s16),
    color.scale($color, $lightness: -10%) dimensions.getSize(s16),
    color.scale($color, $lightness: -10%) dimensions.getSize(s32),
    $color dimensions.getSize(s32)
  );
}
$emptyBackground: generateGradient(colors.$colorWhiteGhost);
$optimumBackground: generateGradient(colors.$colorGreenGrass);
$warningBackground: generateGradient(colors.$colorYellowSun);
$dangerBackground: generateGradient(colors.$colorRedHeat);

.root {
  appearance: none;
  background-image: $emptyBackground;
  border: rem.toRem(1) solid colors.$colorblackEvil;
  border-radius: radii.getBorderRadii(r2);
  display: flex;
  height: dimensions.getSize(s32);
  max-width: rem.toRem(dimensions.$globalInputMaxWidth);
  width: 100%;

  &::-webkit-meter-bar {
    background-image: $emptyBackground;
    box-shadow: 0 rem.toRem(5) rem.toRem(5) rem.toRem(-5) colors.$colorblackEvil
      inset;
  }

  &::-webkit-meter-inner-element {
    background: colors.$colorWhiteGhost;
    display: flex;
  }

  &::-webkit-meter-optimum-value {
    background: $optimumBackground;
  }

  &:-moz-meter-optimum::-moz-meter-bar {
    background: $optimumBackground;
  }

  &::-webkit-meter-suboptimum-value {
    background: $warningBackground;
  }

  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: $warningBackground;
  }

  &::-webkit-meter-even-less-good-value {
    background: $dangerBackground;
  }

  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: $dangerBackground;
  }
}
